<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h3>User Info</h3>
<form action="">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">



    <input type="text" id="family" name="family">
    <input type="date" id="birth_date" name="birth_date">
    <input type="text" id="" name="">
    <input type="email" id="email" name="email">
    <input type="text" id="" name="">
    <input type="text" id="" name="">
    <input type="text" id="" name="">

    <input type="submit" value="Save">
</form>
</body>
</html>